/* contact.css */

.footer-container {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-segment {
    flex: 1;
    padding: 20px;
    min-width: 200px;
  }
  
  .footer-segment h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #fff;
  }
  
  .footer-segment p {
    font-size: 1em;
    line-height: 1.6;
    color: #fff;
  }
  
  .footer-segment + .footer-segment {
    border-left: 1px solid rgb(255, 255, 255); /* Border between segments */
    padding-left: 20px; /* Adjust padding for alignment */
  }
  
  .social-media {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;
  }
  .media-div{
    padding-left:"5rem";
     padding-top:"50px"
  }
  .social-media i {
    font-size: 1.5em;
    margin-right: 15px;
    color: #fff;
    transition: color 0.3s ease;
  }
  
  .social-media i:hover {
    color: #007bff;
  }
  

  